<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listado Empleados - Creative Minds</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table width="100%">
        <tr>
            <td>
                <h1>Listado Empleados</h1>
            </td>
            <td style="text-align: right">
                <a class="btn btn-success" th:href="@{/crearEmpleado}">Crear Empleado</a>
            </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Empresa</th>
            <th></th>
        </tr>
        <tr th:each="empleado : ${listadoEmpleados}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.cedula}"></td>
            <td th:text="${empleado.correo}"></td>
            <td th:text="${empleado.rol}"></td>
            <td th:text="${empleado.empresa}"></td>

            <td>
                <a class="btn btn-warning" th:href="@{/editarEmpleado/{id}(id=${empleado.id})}">Editar</a>
                <a class="btn btn-danger" th:href="@{/eliminarEmpleado/{id}(id=${empleado.id})}">Eliminar</a>
            </td>
        </tr>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
