<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listado de Ingresos y Egresos - Creative Minds</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body class= "bg-image" style="background-image:url('img/bk5.jfif');height: 100%; width=60%">
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a th:href="@{/}" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <img src="img/gastar.png" height="80">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a th:href="@{/verMovimientos}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Movimientos</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/verEmpleados}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Empleados</span></a>
                    </li>
                    <li>
                        <a th:href="@{/verEmpresas}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Empresas</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">User</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="/logout" returnTo="@{/}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <table width="80%">
                <tr>
                    <td>
                        <h1>Listado Movimientos</h1>
                    </td>
                    <td style="text-align: right">
                        <a class="btn btn-success" th:href="@{/crearMovimiento}">Crear Movimiento</a>
                    </td>
                </tr>
            </table>

            <table class="table" style= "width: 90%">
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Tipo de Movimiento</th>
                    <th>Monto</th>
                    <th></th>
                </tr>
                <tr th:each="movimientoDinero : ${listadoMovimientos}">
                    <td th:text="${movimientoDinero.id}"></td>
                    <td th:text="${movimientoDinero.fecha}"></td>
                    <td th:text="${movimientoDinero.concepto}"></td>
                    <td th:text="${movimientoDinero.tipo_movi}"></td>
                    <td th:text="${#numbers.formatDecimal(movimientoDinero.monto,3,'POINT',2,'COMMA')}"></td>


                    <td>
                        <a class="btn btn-warning" th:href="@{/editarMovimiento/{id}(id=${movimientoDinero.id})}">Editar</a>
                        <a
                                th:data-confirm-delete="|Estás seguro de eliminar este Movimiento?|"
                                class="btn btn-danger"
                                th:href="@{/eliminarMovimiento/{id}(id=${movimientoDinero.id})}"
                                onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                                >Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td th:text="${#numbers.formatDecimal(totalMovimientos,3,'POINT',2,'COMMA')}"></td>
                    <td></td>


                </tr>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
